.categoryNav-container{
    height: 4rem;
    width: 100%;

    display: flex;
    align-items: center;

    div {
        padding: 10px;
        display: flex;
        align-items: center;
        
        svg {
            margin-right: 3px;
        }
    }

    div:nth-child(3){
        select {
            border: 1px solid red;

        }
    }

    
}

