
// 색상들 저장 변수로

$btn-color-1: rgb(20, 194, 171);
$btn-color-2: rgb(36, 36, 36);
$btn-color-3: rgb(243, 243, 243);

$text-color-1: #232323;
$text-color-2: #fff;
$bg-color-1: #fff;
$bg-color-2: #070707;

$card-bg-color-2: rgb(36, 36, 36);
